<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.front" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.camera.any" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="com.android.vending.BILLING" />

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" /> -->
  <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" /> -->
  <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" /> -->
  <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
  <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
  <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
  <!-- <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" /> -->
  <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
  <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
  <!-- <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> -->
  <!-- <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" /> -->


  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:usesCleartextTraffic="true"
    android:theme="@style/AppTheme"
    android:largeHeap="true"
    android:supportsRtl="true">
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="${map_key}" />

    <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Ucrop.CropTheme"
      tools:replace="android:theme"
    />
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|fontScale"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:screenOrientation="portrait"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-5809470103488531~3295287649" />
  </application>
</manifest>